div{
    background-color:lightskyblue;
    border: 2px solid black;
    font-size: 30px;
    margin: 20px;
}

div{
    position: sticky;
    top: 30px;
}

li::before{
    content:"\260E"
}